/*按钮公共部分*/
.W_btn_a,
.W_btn_b,
.W_btn_c,
.W_btn_d{padding:0 10px 0 10px;white-space:nowrap;display:inline-block; border-radius:2px; height:24px;line-height:25px; *line-height:24px; text-decoration:none; font-size:12px; min-width:40px; text-align:center; outline:none;}
.W_btn_a:hover,
.W_btn_b:hover,
.W_btn_c:hover,
.W_btn_d:hover{text-decoration:none;}
div.W_btn_b{ *display:inline;}

/*一类按钮*/
.W_btn_a{background:#ff8140; border:1px solid #f77c3d; color:#fff;box-shadow: 0px 1px 2px rgba(0,0,0,0.25);}
.W_btn_a:hover{background:#f7671d; border:1px solid #f06923;}
.W_btn_a_disable,
.W_btn_a_disable:hover{background:#ffc09f; color:#fff; border:1px solid #fbbd9e; box-shadow:none; cursor:default;}
/*二类按钮*/
.W_btn_b{ border-width:1px; border-style:solid;box-shadow: 0px 1px 2px rgba(0,0,0,0.1);color:#333;background-color:#fff;border-color:#d9d9d9;}
.W_btn_b:hover{border-color:#cccccc; box-shadow: 0px 1px 1px rgba(0,0,0,0.15); }
.W_btn_b_disable,
.W_btn_b_disable:hover{ color:#808080; box-shadow:none; cursor:default;}
.W_btn_b_disable .W_ficon,
.W_btn_b_disable:hover .W_ficon{ cursor:default;}
/*三类按钮 - 大 - 黄*/
.W_btn_c{ width:104px;height:34px; padding:0 !important; line-height:34px; color:#fff; box-shadow:0px 1px 2px rgba(0,0,0,0.3);
background:#fa7d3c;
background: -moz-linear-gradient(top, #fa7d3c 0%, #f55f10 100%); /* FF3.6+ */
background: -webkit-linear-gradient(top, #fa7d3c 0%,#f55f10 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #fa7d3c 0%,#f55f10 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #fa7d3c 0%,#f55f10 100%); /* IE10+ */
background: linear-gradient(top bottom, #fa7d3c 0%,#f55f10 100%); /* W3C */}
.W_btn_c:hover{ background:#f4722e;
background: -moz-linear-gradient(top, #f4722e 0%, #f05807 100%); /* FF3.6+ */
background: -webkit-linear-gradient(top, #f4722e 0%,#f05807 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #f4722e 0%,#f05807 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #f4722e 0%,#f05807 100%); /* IE10+ */
background: linear-gradient(top bottom, #f4722e 0%,#f05807 100%); /* W3C */}
/*四类按钮 - 大 - 灰*/
.W_btn_d{ width:104px;height:34px; padding:0 !important; line-height:34px; color:#fff; box-shadow:0px 2px 1px rgba(0,0,0,.2);
background:#696e78;
background: -moz-linear-gradient(top, #696e78 0%, #646973 100%); /* FF3.6+ */
background: -webkit-linear-gradient(top, #696e78 0%,#646973 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #696e78 0%,#646973 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #696e78 0%,#646973 100%); /* IE10+ */
background: linear-gradient(top bottom, #696e78 0%,#646973 100%); /* W3C */}
.W_btn_d:hover{ background:#5f636d;
background: -moz-linear-gradient(top, #5f636d 0%, #535861 100%); /* FF3.6+ */
background: -webkit-linear-gradient(top, #5f636d 0%,#535861 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #5f636d 0%,#535861 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #5f636d 0%,#535861 100%); /* IE10+ */
background: linear-gradient(top bottom, #5f636d 0%,#535861 100%); /* W3C */}
/*二种高的选择，最外层22高、30高*/
.btn_22px{display:inline-block;height:20px;line-height:21px; *line-height:20px; min-width:28px;}
.btn_30px{display:inline-block;height:28px;line-height:29px; *line-height:28px; width:60px; font-size:14px;}
.btn_32px{display:inline-block;height:32px;line-height:33px; *line-height:32px;font-size:14px;}
.btn_34px{display:inline-block;height:34px;line-height:35px; padding:0 15px; font-size:14px;font-family:"微软雅黑";}

/*按钮特殊补丁*/
.W_btn_more{width:auto;min-width:0px;padding:0 5px;vertical-align:top;}

/*按钮内部元素*/
.W_btn_a .icon_member,
.W_btn_b .icon_member{ margin-right:3px;vertical-align:-3px; *vertical-align:1px; _vertical-align:middle; _margin:10px 0;}
.W_btn_a .W_loading,
.W_btn_b .W_loading{ margin:0 5px 0 0;}
.W_btn_c .W_loading,
.W_btn_d .W_loading{ margin:-1px 5px 0 0;}
.W_btn_b .ficon_addtwo,
.W_btn_c .ficon_addtwo,
.W_btn_d .ficon_addtwo,
.W_btn_b .ficon_add,
.W_btn_c .ficon_add,
.W_btn_d .ficon_add,
.W_btn_b .ficon_right,
.W_btn_c .ficon_right,
.W_btn_d .ficon_right,
.W_btn_b .ficon_arrow_down_lite,
.W_btn_c .ficon_arrow_down_lite,
.W_btn_d .ficon_arrow_down_lite,
.W_btn_b .W_vline,
.W_btn_c .W_vline,
.W_btn_d .W_vline{ line-height:11px; overflow:hidden; margin-right:4px; vertical-align:middle;}
.W_btn_b .ficon_arrow_down_lite,
.W_btn_c .ficon_arrow_down_lite,
.W_btn_d .ficon_arrow_down_lite,
.W_btn_b .ficon_arrow_up_lite,
.W_btn_c .ficon_arrow_up_lite,
.W_btn_d .ficon_arrow_up_lite{margin:0 -3px 0 3px;}
.W_btn_b .ficon_add{ color:#fa7d3c!important;}
.W_btn_a .W_ficon,
.W_btn_c .W_ficon,
.W_btn_d .W_ficon{ color:#fff !important;}
.W_btn_c .W_vline{ border-color:#fa9b6a !important; }
.W_btn_d .ficon_menu{ font-size:14px; vertical-align:1px;vertical-align:3px\9;}
:root .W_btn_d .ficon_menu{ vertical-align:2px\0;}
.W_btn_b .cancal{ border-left-width:1px; border-left-style:solid; padding-left:5px; margin-left:5px;}
.W_btn_b .icon_praised_b,
.W_btn_b .icon_praised_bc{ margin:3px 2px 0 0; vertical-align:0; vertical-align:-2px\9; *vertical-align:0;}
.btn_32px .ficon_remark,
.W_btn_c .ficon_remark,
.W_btn_d .ficon_remark,
.btn_32px .ficon_praised,
.W_btn_c .ficon_praised,
.W_btn_d .ficon_praised{margin-right:4px; vertical-align:1px; _vertical-align:0; font-size:16px; }
.btn_32px .ficon_send,
.W_btn_c .ficon_send,
.W_btn_d .ficon_send{margin-right:4px; font-size:20px; }
.btn_32px .praised,
.W_btn_d .praised{ color:#eb7350 !important;}
.W_btn_c .ficon_cd_music,
.W_btn_d .ficon_cd_music{margin-right:4px; font-size:16px; }
.btn_32px .ficon_addtwo,
.W_btn_c .ficon_addtwo,
.W_btn_d .ficon_addtwo,
.btn_32px .ficon_add,
.W_btn_c .ficon_add,
.W_btn_d .ficon_add{ font-size:12px;}
/*按钮内部元素*ie6bug勿动*/
.W_btn_a .W_loading,
.W_btn_b .W_loading{vertical-align:middle;_margin:4px 5px 4px 5px; }
.btn_23px .W_loading,
.W_btn_c .W_loading,
.W_btn_d .W_loading{vertical-align:middle;_margin:9px 5px 9px 5px; }
.W_btn_b .ficon_addtwo{*line-height:15px;_line-height:25px;}
.W_btn_c .ficon_addtwo,
.W_btn_d .ficon_addtwo{*line-height:15px;_line-height:34px;}
.W_btn_b .ficon_add{*line-height:15px;_line-height:24px;}
.btn_22px .ficon_add{ margin-top:4px; _margin-top:0; vertical-align:top; _line-height:19px;}
.btn_32px .ficon_add,
.W_btn_c .ficon_add,
.W_btn_d .ficon_add{*line-height:15px;_line-height:34px;}
.W_btn_b .ficon_right{_line-height:25px;}
.btn_32px .ficon_right,
.W_btn_c .ficon_right,
.W_btn_d .ficon_right{*line-height:15px;_line-height:34px;}
.W_btn_b .ficon_arrow_down_lite{*line-height:15px;_line-height:24px;}
.btn_32px .ficon_arrow_down_lite,
.W_btn_c .ficon_arrow_down_lite,
.W_btn_d .ficon_arrow_down_lite{_line-height:35px;}
.W_btn_d .ficon_menu{*vertical-align:2px;_vertical-align:0px;}
/*按钮内部元素*ie6bug勿动*/

/*profile头部菜单按钮*/
.W_btn_pf_menu{ width:34px; min-width:0;}
/*CARD短链按钮*/
.W_btn_cardlink{ _width:auto; max-width:131px\0; margin:0 2px; padding:0 5px; box-shadow:none; *cursor:pointer; vertical-align:middle; text-align:left;}
.W_btn_cardlink .W_autocut{ display:inline-block; max-width:110px; _width:76px; vertical-align:top;}
.W_btn_cardlink .W_ficon{ line-height:20px; *line-height:18px; _line-height:20px; vertical-align:top;}
.W_btn_cardlink .W_vline{ display:inline-block; height:12px; margin:4px 5px 0 3px; vertical-align:top;}
.W_btn_cardlink .ico_spe .W_icon{ display:inline-block; *width:21px; margin:-1px 5px 0 -6px;}

/*分页*/
.W_pages{ text-align:center; letter-spacing: -0.31em; *letter-spacing:normal;*word-spacing:-0.43em; text-rendering:optimizespeed; white-space:nowrap; *font-family:Arial;}
.W_pages .page{ letter-spacing:normal; word-spacing:normal; text-rendering:auto; padding:0 8px;margin:0 5px 0;line-height:20px;display:inline-block;text-align:center;vertical-align:middle;}
.W_pages .prev,
.W_pages .next { width:100px;height:26px;line-height:26px;padding:0;margin:0;}
.W_pages .prev { border-right-width:1px;border-right-style:solid;margin-right:20px;*margin-right:14px; margin-right:14px\0;}
.W_pages .next { border-left-width:1px;border-left-style:solid;margin-left:20px;*margin-left:14px; margin-left:14px\0;}
.W_pages .page .ficon_arrow_down{ margin-left:3px;}
.W_pages .page:hover{ text-decoration:none}
.W_pages .page_dis,
.W_pages .page_dis:hover{ cursor:default; color:#808080;}
/*弹出层分页*/
.W_pages .list{position:relative; display:inline-block; height:24px; letter-spacing: normal; *vertical-align:-5px;}
.W_pages .list .layer_menu_list{position:absolute; *min-width:76px; bottom:30px; left:-13px; _left:-20px; max-height:280px; _height:140px;  overflow-y:auto;overflow-x: hidden;}
.W_pages .layer_menu_list ul li a{ line-height:14px; *padding:7px 22px;}
/*滚动条*/
.W_scroll::-webkit-scrollbar {
    width: 6px;/*对垂直流动条有效*/
    height: 6px;/*对水平流动条有效*/
}
/*垂直滚动条的按钮*/
.W_scroll::-webkit-scrollbar-button:vertical {
    display: none;
}
/*隐藏滚动条上方的渐增按钮*/
.W_scroll::-webkit-scrollbar-button:vertical:start:increment,
.W_scroll::-webkit-scrollbar-button:vertical:end:decrement {
    display: none;
}
/* 垂直滚动条的第一层轨道*/
.W_scroll::-webkit-scrollbar-track:vertical {
    background-color: transparent;
}
/* 垂直滚动条的第二层轨道　*/
.W_scroll::-webkit-scrollbar-track-piece {
    background-color: transparent;
}
/* 垂直滚动条的滑动块 */
.W_scroll::-webkit-scrollbar-thumb:vertical {
    background-color: #aaa;
    border:2px solid #fff;
    border-width:2px 2px 2px 0;
}

/*切换页面按钮*/
.W_btn_prev,
.W_btn_next{ display:inline-block; border-radius:50%; width:22px; height:22px; border-style:solid; border-width:2px; line-height:22px; text-align:center; overflow:hidden;}
.W_btn_prev .W_ficon,
.W_btn_next .W_ficon{ font-size:18px;}
.W_btn_next .W_ficon{ text-indent:2px;}
.W_btn_prev_disabled,
.W_btn_next_disabled{ border-color:#e4e4e4 !important;}
.W_btn_prev_disabled:hover,
.W_btn_next_disabled:hover{ cursor:default;}
.W_btn_prev_disabled:hover .W_ficon,
.W_btn_next_disabled:hover .W_ficon{ color:#e4e4e4; cursor:default;}
.W_btn_prev_disabled .W_ficon,
.W_btn_next_disabled .W_ficon{ color:#e4e4e4;}

/*标签*/
.W_btn_tag{ position:relative;min-width:24px;margin-left:10px;display:inline-block;height:20px;line-height:20px; *line-height:21px;font-size:12px; padding:0 10px 0 5px;box-shadow:none; cursor:pointer;}
.W_btn_tag .W_arrow_bor{ position:absolute; top:0; left:-21px;}
.W_btn_tag .W_arrow_bor i,
.W_btn_tag .W_arrow_bor em{ border-width:10px;}
.W_btn_tag .W_arrow_bor_l em {margin: 0px 0 0 -19px;}
.W_btn_tag .W_ficon{ text-align:center;}
.W_btn_tag .ficon_edit{ width:14px; margin-left:5px;}
.W_btn_tag .ficon_close{ width:18px; margin-right:-8px;}
.W_input .W_btn_tag,
.input_outer .W_btn_tag{ cursor:text;}

/*半透背景的操作按钮*/
.W_btn_alpha{ display:inline-block;height:30px;line-height:30px; padding:2px 10px; border-radius:5px;background:#2c2c2c;background:rgba(74,74,74,0.6);overflow:hidden; cursor:pointer;}
.W_btn_alpha span{ color:#fff;}
.W_btn_alpha:hover span,
.W_btn_alpha .W_praised .ficon_praised{ text-decoration:none; color:#eb7350;}
.W_btn_alpha i.ficon_praised{vertical-align:top; font-size:27px;}
.W_btn_alpha span em{ margin:0 0 0 5px; _vertical-align:-9px;}
.W_btn_alpha .icon_enlarge,
.W_btn_alpha .icon_narrow,
.W_btn_alpha .icon_maximum{ display:none;}

/*老feed短链兼容，私信、WEBIM等开发未跟进结构修改*/
/*.WB_text .W_btn_c,
.WB_empty .W_btn_c{ margin:0 2px; vertical-align:middle;}
.WB_text .W_btn_c .W_autocut,
.WB_empty .W_btn_c .W_autocut {display: inline-block;max-width: 110px;_width:76px;vertical-align:top;}
.WB_text .W_btn_c .W_btn_icon .W_vline,
.WB_empty .W_btn_c .W_btn_icon .W_vline{ margin:4px 4px 0 2px; text-indent:-9999px; display:inline-block;height:12px; border-color:#d9d9d9!important;vertical-align:top;}
.WB_text .W_btn_c .W_btn_icon .W_ico12,
.WB_empty .W_btn_c .W_btn_icon .W_ico12,
.WB_text .W_btn_c .W_ico20{ width:14px;margin:4px 0 0 0;display: inline-block;height: 12px;background-image: url(../images/icon.png);background-repeat: no-repeat; vertical-align:top;}
.WB_text .W_btn_c .icon_cd_music { width:9px;  background-position:-200px -350px}
.WB_text .W_btn_c .icon_cd_video { width:6px;  background-position:-200px -375px}
.WB_text .W_btn_c .icon_cd_place { width:10px;  background-position:-200px -400px}
.WB_text .W_btn_c .icon_cd_link,
.WB_empty .W_btn_c .icon_cd_link { width:11px;  background-position:-200px -425px}
.WB_text .W_btn_c .icon_cd_book { width:9px;  background-position:-200px -450px}
.WB_text .W_btn_c .icon_cd_vote { width:10px; background-position:-200px -475px}
.WB_text .W_btn_c .icon_cd_app { width:10px; background-position:-200px -500px;}
.WB_text .W_btn_c .icon_cd_film{ width:10px; background-position:-200px -525px;}
.WB_text .W_btn_c .icon_cd_vdisk{ width:10px; background-position:-200px -550px;}
.WB_text .W_btn_c .icon_cd_event{background-position:-225px -375px;}
.WB_text .W_btn_c .icon_cd_product,
.WB_text .W_btn_c .icon_cd_cart{background-position:-225px -400px;}
.WB_text .W_btn_c .icon_cd_game{background-position:-225px -425px;}
.WB_text .W_btn_c .icon_cd_topic{ width:11px;background-position:-225px -450px;}
.WB_text .W_btn_c .icon_cd_welfare{ width:11px;background-position:-225px -474px;}
.WB_text .W_btn_c .icon_cd_coupon{ background-position:-225px -500px;}
.WB_text .W_btn_c .icon_cd_concert{ background-position:-225px -525px;}
.WB_text .W_btn_c .icon_cd_money{ background-position:-225px -550px;}
.WB_text .W_btn_c .icon_cd_img{ background-position:-200px -575px;}
.WB_text .W_btn_c .icon_cd_stock{ background-position:-225px -575px;}

.WB_text .W_btn_c .W_ico20{ width:22px; height:22px; margin:-1px 5px 0 -6px;}
.WB_text .W_btn_c .icon_fl_tmall{ width:22px; height:22px;background-position:-425px 0;}
.WB_text .W_btn_c:hover .icon_fl_tmall{background-position:-450px 0;}
.WB_text .W_btn_c .icon_fl_tb{ width:22px; height:22px;background-position:-425px -25px;}
.WB_text .W_btn_c:hover .icon_fl_tb{background-position:-450px -25px;}
.WB_text .W_btn_c .icon_fl_ju{ width:22px; height:22px;background-position:-425px -50px;}
.WB_text .W_btn_c:hover .icon_fl_ju{background-position:-450px -50px;}

.WB_text .W_btn_c,
.WB_empty .W_btn_c{display:inline-block;height:20px;line-height:20px; *line-height:21px; min-width:28px;_width:28px; font-size:12px; padding:0 5px; cursor:pointer; text-align:left; padding:0 5px!important;}
.WB_text .W_btn_c,
.WB_empty .W_btn_c{ border-width:1px; border-style:solid;box-shadow: 0px 1px 0px rgba(0,0,0,0.1);color:#333;text-decoration:none;border-color:#d9d9d9; background:#f2f2f5; width:auto;box-shadow:none;}
.WB_text .W_btn_c:hover,
.WB_empty .W_btn_c:hover{border-color:#cccccc; background:#f2f2f5;}
.WB_text .W_btn_c_disable,
.WB_text .W_btn_c_disable:hover{ color:#808080;text-decoration:none; box-shadow:none; cursor:default;border-color:#d9d9d9}
.WB_text .W_btn_c_disable .W_ficon,
.WB_text .W_btn_c_disable:hover .W_ficon{color:#d9d9d9; cursor:default;}*/

/*解决IE8bug*/
/*.WB_text .W_btn_c,
.WB_empty .W_btn_c {max-width:140px\0;}
.WB_text .W_btn_c span.W_autocut,
.WB_empty .W_btn_c span.W_autocut{ max-width:110px\0;}
.WB_text .W_btn_c span,
.WB_empty .W_btn_c span{ display:inline-block; max-width:131px\0;}
.WB_text .W_btn_c em.W_autocut,
.WB_empty .W_btn_c em.W_autocut{ max-width:110px\0;}*/
/*end解决IE8bug*/

/*老feed短链兼容，私信、WEBIM开发未跟进结构修改*/

/*feed播放音乐大按钮*/
.W_btn_mult { display:inline-block; height:26px; border:1px solid #d9d9d9;border-radius:2px;overflow:hidden; vertical-align:middle; cursor:pointer;background-image:url(../images/icon.png);_background-image:url(../images/icon.gif);}

/*两倍图标总汇  (icon.css里也有，需要同步维护)*/
@media only screen and (-webkit-min-device-pixel-ratio:2),
       only screen and (-moz-min-device-pixel-ratio:2),
       only screen and (-o-min-device-pixel-ratio:2/1),
       only screen and (min-device-pixel-ratio:2){
.W_btn_mult{ background-image:url(../images/icon-x2.png); background-size: 625px 325px; }
}


.W_btn_mult span{display:inline-block; max-width:72px; _width:72px; height:24px; margin-left:38px; padding:0 15px 0 7px; border:1px solid #fff; border-left:none; overflow: hidden;text-overflow: ellipsis;white-space: nowrap; line-height:24px; *line-height:25px; white-space:nowrap; color:#333333; }
.W_btn_mult span{background-color:#f3f3f3; /* Old browsers */
background-image: -moz-linear-gradient(top,  #fbfbfb 0%, #f2f2f2 50%, #e7e7e7 100%); /* FF3.6+ */
background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fbfbfb), color-stop(50%,#f2f2f2), color-stop(100%,#e7e7e7)); /* Chrome,Safari4+ */
background-image: -webkit-linear-gradient(top,  #fbfbfb 0%,#f2f2f2 50%,#e7e7e7 100%); /* Chrome10+,Safari5.1+ */
background-image: -o-linear-gradient(top,  #fbfbfb 0%,#f2f2f2 50%,#e7e7e7 100%); /* Opera 11.10+ */
background-image: -ms-linear-gradient(top,  #fbfbfb 0%,#f2f2f2 50%,#e7e7e7 100%); /* IE10+ */
background-image: linear-gradient(top bottom,  #fbfbfb 0%,#f2f2f2 50%,#e7e7e7 100%); /* W3C */}
.W_btn_mult:hover{text-decoration:none;}
.btn_mult_music{ background-position:-350px -200px;}

/*认领按钮*/
.W_btn_claim,
.W_btn_claiming{ display:inline-block; height:22px; padding:0 10px; background:#60bcf0; border-radius:11px; line-height:22px; color:#fff;}
.W_btn_claiming{ background:#a0d7f6;}
.W_btn_claim .W_icon,
.W_btn_claiming .W_icon{ float:left; margin:5px 3px 0 0;}
#js_style_css_module_base_btn{height:42px;}